@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1a1218;
    --color-secondary: #ffffec;
    --color-highlight-1: #8fff51;
    --color-highlight-2: #ff9ff1;
  }