.page{
    font-family: Montserrat;
    font-size: 1.2rem;
    background-color: #1a1218;
    color: #ffffec;
}
#Title{
    font-size: 2rem;
}
.Intro{
    margin-bottom: 30px;
}
#linkTitle{
    display: flex;
    justify-items: center;
    font-size: 1.8rem;
    padding: 5px;
    border: 2px solid #ffffec;
    border-radius: 5px;
}
.article{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
.article h2{
    text-align: center;
}
.Card {
    font-size: 2rem;
    padding: 3%;
    margin: 50px;
    display: block;
    color:#ffffec;
    background-color: #1a1218;
    border: 3px solid #ffffec;
    border-radius: 10px;
}
.Card ul{
    list-style-type: disc;
}
.bouton{
    border-radius: 15px;
    text-align: center;
    background-color: #1a1218;
    border: 4px solid #ffffec;
}
.bouton:hover{
        background-color: #8fff51;
}
